VITE_FIREBASE_API_KEY="AIzaSyCx6h6_YglWo4-a9hFuSHo-f8vzTy-HrBE"
VITE_FIREBASE_AUTH_DOMAIN="authapp-23ea1.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="authapp-23ea1"
VITE_FIREBASE_STORAGE_BUCKET= "authapp-23ea1.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="507224029388"
VITE_FIREBASE_APP_ID="1:507224029388:web:056717437c0d4229c52a69"
